.overlay {  
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 2;
  top: 0;
  opacity: 0;
  background: rgba(39, 42, 43, 0.8);
  transition: opacity 200ms ease-in-out;
  border-radius: 4px;
}

.overlay:hover{
  opacity: 1;
}


/* Container needed to position the button. Adjust the width as needed */
.contener {
  position: relative;
}

/* Make the image responsive */
.contener img {
  width: 100%;
  height: auto;
}

/* Style the button and place it in the middle of the contener/image */
.contener .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}